.desc {
  :global {
    .ant-pro-table-list-toolbar-container,
    .ant-pro-table-list-toolbar-left,
    .ant-pro-table-list-toolbar-title{
      display: block;
    }
  }
  .title {
    padding-top: 40px;
  }
  h2 {
    text-align: center;
    margin-bottom: 0;
    padding: 20px 0;
    font-size: 18px;
  }
  .mTableSave {
    margin-top: 20px;
  }
}

.mTable {
  width: 100%;
  padding: 0 20px;
  background: #fff;
  margin-bottom: 10px;
  overflow-x: auto;
  .mTableSave {
    padding: 20px;
  }
  table {
    width: 2200px;
    border: 1px #d9d9d9 solid;
    td {
      border: 1px #d9d9d9 solid;
      text-align: center;
      :global {
        .ant-form-item {
          margin-bottom: 0;
        }
      }
    }
    th {
      border: 1px #d9d9d9 solid;
      font-size: 14px;
      font-weight: 600;
      padding: 6px;
    }
    th:nth-child(1) {
      width: 80px;
    }
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
}