.special_model{
    .three_column_layout{
        display: flex;
        .border_box{
            width: 100%;
            // height: 720px;
            border: 1px solid #F2F2F2;
            padding: 20px 0;
            .interval{
                border-bottom: 1px solid #F2F2F2;
                padding: 10px 0;
            }
            // .topic_page{
            //     background: #F2F2F2;
            //     width: 300px;
            //     height: 600px;
            //     margin: auto;
            //     Button{
            //         background: #F2F2F2;
            //         border: 1px solid #8D8D8D;
            //     }
            //     Button:hover{
            //         border: 2px dashed #7BDE19;
            //         color: rgba(0, 0, 0, 0.85);
            //     }
            //     .header{
            //         border:1px solid #8D8D8D;
            //         text-align: center;
            //         line-height: 180px;
            //         height: 180px;
            //         position: relative;
            //         Button{
            //             position: absolute;
            //             left: 95px;
            //             top: 120px;
            //             z-index: 9999;
            //         }
            //     }
            //     .header:hover{
            //         border: 2px dashed #7BDE19;
            //         line-height: 178px;
            //     }
            //     >.figure{
            //         margin:10px auto;
            //     }
            //     .figure{
            //         width: 150px;
            //         border:1px solid #8D8D8D;
            //         height: 35px;
            //         line-height: 35px;
            //         text-align: center;
            //     }
            //     .figure:hover{
            //         border: 2px dashed #7BDE19;
            //         line-height: 33px;
            //     }
            //     .aside{
            //         border: 2px dashed transparent;
            //         width: 284px;
            //         margin:10px auto;
            //         cursor: pointer;
            //     }
            //     .aside:hover{
            //         border: 2px dashed #7BDE19;
            //     }
            //     .section{
            //         padding: 10px;
            //         margin:0 0 10px 0;
            //         width: 280px;
            //         background: #F8F8F8;
            //         display: flex;
            //     }
            //     .section_goos{
            //         margin-left: 10px;
            //     }
            //     .article{
            //         width: 280px;
            //         display: flex;
            //         justify-content: space-between;
            //     }
            //     .article_goos{
            //         width: 135px;
            //         padding: 10px 0;
            //         background: #F8F8F8;
            //         text-align: center;
            //     }
            // }
            .measure{
                display: flex;
                // flex-direction: column;
                // align-items: center;
            }
        }
        .border_box2{
            width: 500px;
            // height: 720px;
            border: 1px solid #F2F2F2;
            padding: 20px;
        }
    }
}

.thematic_event_management{
    .summary {
        position: relative;
        z-index: 666;
        margin: -40px 0 0 20px;
        width: 600px;
        color: #B7B7B7;
        span {
            color: #D9001B;
        }
      }
}