.goback{
    margin-top: -40px;
    float: right;
}
.couponFrom{
    background-color: #fff;
    padding: 40px;
}
.msg{
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.auditTabs{
    background-color: #fff;
    padding: 25px;
}
.head{
    padding: 10px 0 10px 20px;
    background: rgb(231, 231, 231);
}