.desc {
  :global {
    .ant-pro-table-list-toolbar-container {
      display: block;
      padding: 16px 0;
    }

    .ant-pro-table-list-toolbar-left {
      display: block;
    }

    .ant-pro-table-list-toolbar-title {
      display: block;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
      font-size: 16px;
    }

    .ant-descriptions-bordered .ant-descriptions-item-label {
      width: 14%;
    }
  }

  .title {
    padding: 10px 20px;
    background-color: #fff;
    font-weight: 600;
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
  }

}

.search {
  margin-top: 10px;
}

.cardList {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 16px;

  div {
    max-width: 300px;
  }
}

.cardListContent {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #999;

  div {
    max-width: 260px;
    word-break: break-all;
  }
}

.cardTitle {
  background-color: rgb(181, 181, 181);
  color: #fff;
  height: 15px;
  font-size: 15px;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px 0 30px 0;

  span {
    margin-right: 20px;
  }
}

.cardListContentLast {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  color: #999;
}

.aggregate {
  padding: 20px;
  background: #fff;
  margin-bottom: 10px;
}