.desc {
  :global {
    .ant-pro-field-index-column {
      display: inline-flex;
    }
    .ant-pro-table-list-toolbar-container {
      display: block;
      padding: 16px 0;
    }
    .ant-pro-table-list-toolbar-left {
      display: block;
    }
    .ant-pro-table-list-toolbar-title {
      display: block;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
      font-size: 16px;
    }
  }
}